<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>鳥博士</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand container"  href="#">
            <h2>test</h2>
          </a>
        </div>
      </nav>

      <div class="container-fluid">
        
        <p>
          測試TEST
          <a scope="col" href="http://127.0.0.1:8000/test/" title="test">test</a>
          測試map
          <a scope="col" href="http://127.0.0.1:8000/map/" title="map">map</a>
          
          測試upload_img
          <a scope="col" href="http://127.0.0.1:8000/upload_img/" title="upload_img">upload_img</a>
        </p>

        <p>測試路徑用
          <a scope="col" href="http://127.0.0.1:8000/index_test/" title="index_test" >~暫定首頁畫面~</a>
          <a scope="col" href="http://127.0.0.1:8000/birdinfo/0/" title="birdinfo">birdinfo</a>
          <p>guide相關👉
            <a scope="col" href="http://127.0.0.1:8000/basicKnowledge/" title="basicKnowledge">basicKnowledge</a>
            <a scope="col" href="http://127.0.0.1:8000/development/" title="development">development</a>
            <a scope="col" href="http://127.0.0.1:8000/equipment/" title="equipment">equipment</a>
            <a scope="col" href="http://127.0.0.1:8000/ethics/" title="ethics">ethics</a>
          </p>
          <p>realtime相關👉
            <a scope="col" href="http://127.0.0.1:8000/info/" title="info">info</a>
            <a scope="col" href="http://127.0.0.1:8000/place/" title="place">place</a>
            <a scope="col" href="http://127.0.0.1:8000/recommend/" title="recommend">recommend</a>
          </p>
        </p>
      <div>
        place_data = ["臺北市", "新北市", "台中市", "臺南市", "高雄市", "基隆市",
                "桃園市", "新竹市", "新竹縣", "苗栗縣", "彰化縣", "南投縣",
                "雲林縣", "嘉義市", "嘉義縣", "屏東縣", "宜蘭縣", "花蓮縣",
                "台東縣", "澎湖縣", "金門縣", "連江縣"]<br><br><br>
        weather_API<br>
        {{weather_msg.location}}
        {{weather_msg.weather_state}}
        {{weather_msg.rain_prob}}%
        {{weather_msg.comfort}}
        {{weather_msg.max_tem}}°C
        {{weather_msg.min_tem}}°C<br><br><br>
      </div>
        <div>
          <form action="." method="POST" name="distance_form">
          {% csrf_token %}
          google_API<br>路線規劃<br><br>
          <div class="mb-3">
            起點<br>
            <input type="text"  id="loc1"  name="loc1"  class="form-control" >
            <div class="mb-3">
            終點<br>
            <input type="text"  id="loc2"  name="loc2"  class="form-control" >
            <input type="submit" name="button" id="button" class="container btn btn-primary "value="計算">
          </div>
        </form>
        {% if distance_msg != "error" %}
            起點：{{distance_msg.destination_addresses}}<br>
            終點：{{distance_msg.origin_addresses}}<br>
            距離：{{distance_msg.distance}}<br>
            開車時間：{{distance_msg.duration}}<br>
        {% endif %}
        {% if distance_msg == "error" %}
            請重新輸入起點和終點<br>
        {% endif %}
        </div>
        <div id="map"></div>
        <script
          src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initMap&v=weekly"
          defer
        ></script>
        <div>
          ebird_API<br>抓台灣地區14天的資料<br><br>
          {% for item in recent_msg %}
          物種代碼 speciesCode   ：{{item.speciesCode}},
          鳥名 comName   ：{{item.comName}},
          學名 sciName   ：{{item.sciName}},
          地點ID locId   ：{{item.locId}},
          地點 locName   ：{{item.locName}},
          觀察日 obsDt   ：{{item.obsDt}},
          數量 howMany   ：{{item.howMany}},
          緯度 lat   ：{{item.lat}},
          經度 lng   ：{{item.lng}},
          obsValid   ：{{item.obsValid}},
          obsReviewed   ：{{item.obsReviewed}},
          locationPrivate   ：{{item.locationPrivate}},
          subId   ：{{item.subId}}<br>
          {% endfor %}
        </div>
        
    <!--get browser's location-->
    <script>
      //Continuously take the position
      function initMap() {
        if (navigator.geolocation) {
          navigator.geolocation.watchPosition(
            (position) => {
              //console.log(position.coords);
              const pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude,
              };
              console.log(pos);
            },
            () => {
              handleLocationError(true);
            }
          );
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false);
        }
      }
      function handleLocationError(browserHasGeolocation) {
        if(browserHasGeolocation)
          window.alert("Error: 地理定位服務失敗，請重新嘗試或是確認網路服務是否成功連線。");
        else
          window.alert( "Error: 您的瀏覽器不支持定位功能，請換成其他瀏覽器。");
      }
      window.initMap = initMap;
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>