<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>鳥博士</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand container"  href="#">
            <h2>test</h2>
          </a>
        </div>
      </nav>

      <div class="container-fluid">

        <p>
          測試TEST
          <a scope="col" href="http://127.0.0.1:8000/test/" title="test">test</a>
          <a scope="col" href="http://127.0.0.1:8000/map/" title="map">map</a>
        </p>

        <p>測試路徑用
          <a scope="col" href="http://127.0.0.1:8000/index_test/" title="index_test" >~暫定首頁畫面~</a>
          <a scope="col" href="http://127.0.0.1:8000/birdinfo/0/" title="birdinfo">birdinfo</a>
          <p>guide相關👉
            <a scope="col" href="http://127.0.0.1:8000/basicKnowledge/" title="basicKnowledge">basicKnowledge</a>
            <a scope="col" href="http://127.0.0.1:8000/development/" title="development">development</a>
            <a scope="col" href="http://127.0.0.1:8000/equipment/" title="equipment">equipment</a>
            <a scope="col" href="http://127.0.0.1:8000/ethics/" title="ethics">ethics</a>
          </p>
          <p>realtime相關👉
            <a scope="col" href="http://127.0.0.1:8000/info/" title="info">info</a>
            <a scope="col" href="http://127.0.0.1:8000/place/" title="place">place</a>
            <a scope="col" href="http://127.0.0.1:8000/recommend/" title="recommend">recommend</a>
          </p>
        </p>
      <div>
        place_data = ["臺北市", "新北市", "台中市", "臺南市", "高雄市", "基隆市",
                "桃園市", "新竹市", "新竹縣", "苗栗縣", "彰化縣", "南投縣",
                "雲林縣", "嘉義市", "嘉義縣", "屏東縣", "宜蘭縣", "花蓮縣",
                "台東縣", "澎湖縣", "金門縣", "連江縣"]<br><br><br>
        weather_API<br>
        {{weather_msg.location}}
        {{weather_msg.weather_state}}
        {{weather_msg.rain_prob}}%
        {{weather_msg.comfort}}
        {{weather_msg.max_tem}}°C
        {{weather_msg.min_tem}}°C<br><br><br>
      </div>
        <div>
          <form action="." method="POST" name="distance_form">
          {% csrf_token %}
          google_API<br>路線規劃<br><br>
          <label for="exampleInputEmail1" class="form-label container">起點</label>
          <input type="text"  id="loc1"  name="loc1"  class="form-control" >
          <label for="exampleInputEmail1" class="form-label container">終點</label>
          <input type="text"  id="loc2"  name="loc2"  class="form-control" >
          <input type="submit" name="button" id="button" class="container btn btn-primary "value="計算"><br>
        </form>
        {% if distance_msg != "error" %}
            起點：{{distance_msg.destination_addresses}}<br>
            終點：{{distance_msg.origin_addresses}}<br>
            距離：{{distance_msg.distance}}<br>
            開車時間：{{distance_msg.duration}}<br>
        {% endif %}
        {% if distance_msg == "error" %}
            請重新輸入起點和終點<br>
        {% endif %}

        </div>
        <div>
          <br><br><br>
          <strong>Mode of Travel: </strong>
          <select id="mode" onchange="calcRoute();">
            <option value="DRIVING">Driving</option>
            <option value="WALKING">Walking</option>
            <option value="BICYCLING">Bicycling</option>
            <option value="TRANSIT">Transit</option>
          </select>
          </div>


        <!-- <div>
          ebird_API<br>抓台灣地區14天的資料<br><br>
          {% for item in recent_msg %}
          物種代碼 speciesCode   ：{{item.speciesCode}},
          鳥名 comName   ：{{item.comName}},
          學名 sciName   ：{{item.sciName}},
          地點ID locId   ：{{item.locId}},
          地點 locName   ：{{item.locName}},
          觀察日 obsDt   ：{{item.obsDt}},
          數量 howMany   ：{{item.howMany}},
          緯度 lat   ：{{item.lat}},
          經度 lng   ：{{item.lng}},
          obsValid   ：{{item.obsValid}},
          obsReviewed   ：{{item.obsReviewed}},
          locationPrivate   ：{{item.locationPrivate}},
          subId   ：{{item.subId}}<br>
          {% endfor %}
        </div> -->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
