body {
  /* background-image: url("../images/home_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-attachment: fixed; */
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Microsoft JhengHei";
  background-color: rgb(255, 232, 201, 90%);
}

.banner {
  background-image: url("../images/home_bg2.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
}

/* 導覽列的顏色與效果 */
nav {
  background-color: rgba(245, 245, 245);
  transition: all 0.5s;
}
nav:hover {
  background-color: rgb(255, 255, 255);
}

nav h1 {
  animation: showTxt 2s;
}

.my-nav {
  box-shadow: 2px 2px 5px rgba(93, 83, 72, 0.3);
}

a {
  text-decoration: none;
}

/* logo字的動畫效果 */
@keyframes showTxt {
  from {
    transform: scale(0.5, 0.5) rotate(10deg);
  }
  to {
    transform: scale(1, 1) rotate(0deg);
  }
}

.text-orange {
  color: #b55135;
}

h1 b {
  font-size: 60px;
}

/* 粗體字 */
li a {
  font-weight: bold;
}

.logo-style {
  width: 38px;
  height: 38px;
  vertical-align: super;
}

/* 彈跳動畫效果 */
.nav-item:hover {
  -webkit-animation-name: fa-bounce;
  animation-name: fa-bounce;
  -webkit-animation-delay: var(--fa-animation-delay, 0s);
  animation-delay: var(--fa-animation-delay, 0s);
  -webkit-animation-direction: var(--fa-animation-direction, normal);
  animation-direction: var(--fa-animation-direction, normal);
  -webkit-animation-duration: var(--fa-animation-duration, 1s);
  animation-duration: var(--fa-animation-duration, 1s);
  -webkit-animation-iteration-count: var(
    --fa-animation-iteration-count,
    infinite
  );
  animation-iteration-count: var(--fa-animation-iteration-count, infinite);
  -webkit-animation-timing-function: var(
    --fa-animation-timing,
    cubic-bezier(0.28, 0.84, 0.42, 1)
  );
  animation-timing-function: var(
    --fa-animation-timing,
    cubic-bezier(0.28, 0.84, 0.42, 1)
  );
}

/* logo的動畫效果 */
.logo_size:hover {
  -webkit-animation-name: fa-beat-fade;
  animation-name: fa-beat-fade;
  -webkit-animation-delay: var(--fa-animation-delay, 0s);
  animation-delay: var(--fa-animation-delay, 0s);
  -webkit-animation-direction: var(--fa-animation-direction, normal);
  animation-direction: var(--fa-animation-direction, normal);
  -webkit-animation-duration: var(--fa-animation-duration, 1s);
  animation-duration: var(--fa-animation-duration, 1s);
  -webkit-animation-iteration-count: var(
    --fa-animation-iteration-count,
    infinite
  );
  animation-iteration-count: var(--fa-animation-iteration-count, infinite);
  -webkit-animation-timing-function: var(
    --fa-animation-timing,
    cubic-bezier(0.4, 0, 0.6, 1)
  );
  animation-timing-function: var(
    --fa-animation-timing,
    cubic-bezier(0.4, 0, 0.6, 1)
  );
}

/* 測試用 */
/* .scrollElement {
  position: absolute;
  height: 6000px;
  width: 100px;
  top: 0;
  z-index: 0;
} */

/* 也是控制輪播圖大小 */
/* .carousel .carousel-item {
  height: 400px;
  background-color: #777;
} */
/* .carousel-inner > .carousel-item .img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
} */

/* 控制輪播圖大小 */
.Carousel-dox {
  height: 360px;
  width: 540px;
  /* background: hsla(27, 83%, 77%, 0.604); */
}

/* 搜尋框 */
.search {
  position: relative;
  width: 0%;
  float: left;
}
.search-bar {
  width: 100%;
  height: 32px;
  font-size: 20px;
  border: 3px solid #3d1101;
  background-color: #efe9e7;
}

/* 小按鈕 */
.hitsearch {
  padding: 4px 12px;
  font-size: 16px;
  border-radius: 16px;
  background-color: #9abf7f;
}

.weather-box {
  width: 400px;
  border: 2px solid #ccc;
  background: #e0ecf5;
  border-radius: 8px;
}

.Rectangle {
  width: 300px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 61px;
  border: 3px solid #c9b079;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  justify-content: center;
  text-align: center;
  line-height: 60px;
}

/* 圖片點擊效果 */
.productImg {
  filter: brightness(0.75) saturate(0.8);
  transition: all 0.8s;
}
.productImg:hover {
  cursor: pointer;
  filter: brightness(1) saturate(1.5);
}

/* 賞鳥須知 */
.guide-title-box {
  background: #ffffff;
  border-radius: 61px;
  border-style: solid;
  border-color: #c9b079;
  border-width: 3px;
  width: 280px;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  /* left: 70px; */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.Rectangle-title {
  color: #b55135;
  text-align: center;
  font: 700 26px/120% "Roboto Serif", sans-serif;
  /* position: absolute;
  left: calc(50% - 37px);
  top: 10px; */
}

.guide-title {
  color: #525252;
  font: 700 20px/120% "Roboto Serif", sans-serif;
  text-align: left;
  max-width: 80vw;
  /* 設定文字的最大寬度為視窗寬度的 80% */
  /* font-size: 3vw;  */
  /* position: relative;
  left: 75px; */
}

.guide-text {
  color: #525252;
  font: 600 16px/120% "Roboto Serif", sans-serif;
  text-align: left;
  position: relative;
  line-height: 40px;
  width: 100%;
  display: flex;
}

.guide-box {
  /* background: #ffe8c9; */
  /* padding-top: 50px; */
  width: 100%;
  /* height: auto; */
  position: relative;
  overflow: hidden;
  z-index: -2;
}

.box-org {
  background-color: #ffe8c9;
}

.box-whi {
  background-color: #ffffff;
}

.circle-container {
  position: relative;
  /* 设置容器为相对定位 */
  display: inline-block;
  /* 确保容器与内容的宽度相符 */
}

.circle-text {
  color: #525252;
  font: 700 20px/120% "Roboto Serif", sans-serif;
  text-align: left;
  position: relative;
  /* 设置文本为相对定位 */
}

.circle {
  position: absolute;
  /* 设置小圆圈为绝对定位 */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f7cdb1;
  margin-left: -10px;
  /* 调整圆圈与文字的间距 */
  z-index: -1;
  /* 将圆圈的z-index设置为负值，使其在文字后方 */
}

.typesetting-org {
  width: 100%;
  height: 60px;
  background-color: #ffe8c9;
  position: relative;
  overflow: hidden;
  z-index: -3;
}

.typesetting-whi {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  z-index: -3;
}

/* 賞鳥須知 End */

.circular--portrait {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 100%;
  /* margin-left: -50%; */
}
